@import 'global';

///
/* Header */
///
.header {
  width: calc(100dvw - 20%);
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 2rem;
  margin: 2% 10%;

  .logo {
    font-family: $font-mono;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
  }

  .header-content {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.5;

    .divider {
      color: var(--border-color);
      font-weight: 100;
    }

    .theme-mode {
      transition: transform 0.3s ease;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 8px;
      position: relative;
      width: 1.5rem;
      height: 1.5rem;
      background: none;
      border: none;
      margin: 0 1rem;

      .icon {
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        transition: opacity 0.3s ease, transform 0.3s ease;
        transform-origin: center center;
      }

      .fade-in {
        opacity: 1;
        transform: scale(1) rotate(0deg);
      }

      .fade-out {
        opacity: 0;
        transform: scale(0.8) rotate(90deg);
      }
    }
  }
}

///
/* Home */
///

///
/* About */
///

///
/* Tech Stack */
///

///
/* Art Work */
///

///
/* Projects */
///

///
/* Footer */
///
.footer-container {
  display: flex;
  height: 4rem;
}
